@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryLila: #6D28FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #717171;
    --foreground: #ededed;
    --primaryLila: #6D28FF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
