@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryLila: #6D28FF;
  --primaryBlack: #0C0C0C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #717171;
    --foreground: #ededed;
    --primaryLila: #6D28FF;
    
  }
}

@font-face {
  font-family: "Epilogue";
  src: url(/Epilogue-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family:"Figtree";
  src: url(/Figtree-VariableFont_wght.ttf) format("truetype");
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Figtree;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h2{
  font-family: Epilogue;
  font-size: 38px;
  font-weight: 600;
  color: var(--primaryBlack); 
}

p{
  font-family: Figtree;
  font-size: 16px;
  font-weight: 400;
  color: var(--primaryBlack);
}
h3{
  font-family: Epilogue;
  font-size: 30px;
  font-weight: 600;
  color: var(--primaryBlack); 
}